@import url("https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");

:root {
  --vermelho: red;
  --branco: white;
  --cinzaescuro: #a19f9f;
  --cinza: #d4d1d1;
  --gelo: #e7e1ec;
  --roxo: #3f1146;
  --lilas: #801a8d;
  --boxshadow: rgba(0, 0, 0, 0.3);
  /*transparencia da tela*/
  --filtro: rgba(0, 0, 0, 0.7);
}
.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--lilas);
}
form {
  border: 0px solid var(--roxo);
  display: flex;
  align-items: center;
  text-align: center;
  padding: 15px;
  justify-items: center;
  flex-direction: column;
  background-color: var(--gelo);
  border-radius: 15px;
  box-shadow: 6px 6px 18px 10px var(--roxo);
  color: var(--roxo);
}
h1 {
  font-family: "Signika", sans-serif;
  font-size: 30px;
  display: flex;
  border-bottom: 1px solid var(--cinza);
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 3px;
}
.label-div {
  font-family: "Rajdhani", sans-serif;
  font-size: 16px;
  font-weight: 600;
  display: flex;
}
label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
input {
  width: 100%;
  height: 25px;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid var(--roxo);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.input-number {
  width: 50px;
}
select {
  width: 100px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid var(--cinzaescuro);
  margin-left: 5px;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
}
.button-div {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-top: 10px;
  padding: 3px;
}
button {
  border-radius: 15px;
  border: none;
  width: 75px;
  height: 35px;
  text-align: center;
  padding: 5px;
  align-items: center;
  box-shadow: 5px 3px 5px 0px var(--roxo);
  font-family: "Signika", sans-serif;
  font-size: 15px;
  transition: all 0.1s ease-in;
  cursor: pointer;
}
button:active {
  box-shadow: 0px 0px 14px var(--boxshadow);
  transform: scale(1);
  transform: translateX(2px);
}

.btn-save {
  background-color: var(--lilas);
  color: var(--branco);
}

.btn-cancel {
  background-color: var(--branco);
  color: var(--lilas);
}

@media (min-width: 1025px) {
  .app {
    height: 100vh;
  }
  form {
    width: 563px;
  }
  .label-div {
    width: 100%;
    padding-inline: 5px;
    height: 215px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }
  label {
    width: 160px;
  }
  .actions-wrapper {
    display: flex;
    justify-content: space-around;
    flex: 1;
    align-items: center;
  }
  .label-uf-city {
    width: 100%;
  }
}
/* tablet*/
@media (min-width: 769px) and (max-width: 1024px) {
  .app {
    height: 100%;
    align-items: center;
    gap: 10px;
  }
  form {
    width: 60%;
    height: 410px;
    align-items: center;
    text-align: center;
    padding: 15px;
    flex-direction: column;
    max-width: 510px;
  }
  .label-div {
    flex-direction: row;
    padding-inline: 5%;
    width: 100%;
    height: 330px;
    flex-wrap: wrap;
    gap: 10px;
  }
  label {
    flex-direction: column;
    width: 180px;
    align-items: flex-start;
    justify-content: space-around;
  }
  input {
    width: 100%;
  }
  .label-uf-city {
    align-items: center;
    width: fit-content;
  }

  .actions-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-inline: 30px;
  }
  button {
    width: 100px;
    height: 40px;
  }
}
/*mobile*/
@media (max-width: 768px) {
  .app {
    padding-top: 10px;
    align-items: center;
    gap: 10px;
  }
  form {
    width: 95%;
    max-width: 460px;
    height: 595px;
  }
  .label-div {
    width: 100%;
    height: 521px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  label {
    flex-direction: column;
    flex-wrap: wrap;
    width: 250px;
    align-items: flex-start;
    justify-content: space-around;
  }
  .label-uf-city {
    align-items: center;
    width: 36%;
    justify-content: space-evenly;
  }
  .actions-wrapper {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }
  button {
    width: 70px;
    height: 30px;
  }
  table {
    width: 95%;
  }
}
section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  color: var(--cinza);
  font-family: "Signika", sans-serif;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

table {
  font-family: "Signika", sans-serif;
  background-color: var(--gelo);
  border-radius: 15px;
  border-collapse: collapse;
  box-shadow: 6px 6px 18px 10px var(--roxo);
  color: var(--roxo);
  max-width: 510px;
}
th,
td {
  border-right: 1px solid var(--roxo);
  padding: 15px;
}
thead > tr > th:last-child,
tbody > tr > td:last-child {
  border: none;
}
td {
  text-align: center;
}

td,
tr {
  border-radius: 10px;
}
thead {
  border-bottom: 1px solid var(--roxo);
  font-size: 18px;
}
tbody {
  font-size: 16px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
}
a {
  text-decoration: none;
  color: var(--roxo);
}
